beautifulsoup4==4.8.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
dateparser==0.7.2
humanize==0.5.1
idna==2.8
maya==0.6.1
pendulum==2.0.5
pycparser==2.19
PyMySQL==0.9.3
pyOpenSSL==19.0.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
pytzdata==2019.3
regex==2019.11.1
requests==2.22.0
six==1.13.0
snaptime==0.2.4
soupsieve==1.9.4
tzlocal==2.0.0
urllib3==1.25.8
